.image{
    border-radius: 30px;
    border: 1px solid var(--brand);
}


.container {
  padding: var(--space-4x);
  display: flex;
  flex-direction: column-reverse;
}

.backlink {
  color: var(--secondary-color);
  padding: var(--space-8x) var(--space-4x) var(--space-4x) var(--space-4x);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.handle{
    color: var(--secondary-color);
  padding: var(--space-8x) var(--space-4x) var(--space-4x) var(--space-4x);
  font-weight: 500;
}

.backlink > svg {
  margin-right: var(--space-2x);
}

.backlink:hover, .handle:hover {
  color: #fff;
}

.speaker-details {
  padding: var(--space-4x) 0;
  display: flex;
  flex-direction: column;
  flex: unset;
}

.talk-details {
  margin-top: var(--space-8x);
  padding: 0 var(--space-4x);
  max-width: 800px;
}

.bio {
  color: var(--accents-2);
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.description{
  color: var(--accents-2);
  margin-top: 20px;
  margin-right:30px;
  margin-bottom: 30px;
  /* padding-left:100px; */
  /* padding-right:100px; */
}
.icon{
    margin-right:1px;
}



.image {
  border-radius: var(--space-2x);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: var(--space-8x);
  }

  .backlink {
    padding: var(--space-8x);
    padding-bottom: 0;
  }

  .speaker-details {
    padding: 0;
    padding-left: var(--space-8x);
  }

  .talk-details {
    padding-left: var(--space-8x);
    color: var(--accents-2);
  }

  .image {
    max-width: 300px;
    max-height: 400px;
  }
}

.register-btn .btn {
  border-radius: 10px;
  font-size: large;
}

.register-btn .btn:hover {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.register-btn .btn:hover .linkButton {
  color: black;
}

.logo{
  margin-top:60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-weight: 600;
  color: #fff;
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
}
.eventname{
  font-weight: 700;
  color: #fff;
  font-size: 56px;
  margin: 0;
  line-height: 1.2;
  margin-top: 60px;
}

.company {
  color: #fff;
}

.company:hover {
  color: #fff;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
}
.eventtitle{
  margin-top:24px;
  margin-bottom: 24px;
  font-size: 30px;
}

.bio-header {
  font-size: 30px;
  letter-spacing: -0.0em;
  color: #fff;
}

.description-header{
  font-size: 30px;
  letter-spacing: -0.0em;
  color:var(--brand);
  margin-bottom: 40px;
}
.socials-header {
  font-size: 24px;
  letter-spacing: -0.0em;
  color: #fff;
  margin-bottom: var(--space-4x);
}

.disabled {
  cursor: not-allowed;
}

.githubIcon {
  margin-left: var(--space-2x);
}
